.back {
  position: absolute;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease background-color;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  &:hover {
    background-color: #cedce1;
  }
}

.backIcon {
  width: 10px;
  align-self: center;
  height: auto;
}