.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  transition: 0.5s ease background-color;
  flex-grow: 1;
  max-width: 90px;
  p {
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90px;
    text-overflow: ellipsis;
    color: black;
  }
  &:hover {
    background-color: #cedce1;
  }
}