.image {
  height: 400px;
  width: auto;
}

.wrapper {
  display: flex;
  gap: 20px;
  overflow: scroll;
  user-select: none;
  margin-bottom: 32px;
  flex-grow: 1;
  justify-content: center;
}


.slide {
  justify-content: center;
  display: flex;
}